<footer>
    <div class="container footer-wrapper">
        <div class="footer-1">
            <h4><a href="index.html">KOGNITIVES</a></h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A qui quae est!</p>
        </div>

        <div class="footer-2">
            <h4>Permalinks</h4>
            <ul class="permalinks">
                <li><a href="">home</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">about</a></li>
                <li><a href="">courses</a></li>
            </ul>
        </div>

        <div class="footer-3">
            <h4>Privacy</h4>
            <ul class="privacy">
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">terms & conditions</a></li>
                <li><a href="">Refund Policy</a></li>
            </ul>
        </div>

        <div class="footer-4">
            <h4>Contact Us</h4>
            <div class="contact-lines">
                <a href="tel:5551234567">Call (555)123-4567</a>
                <a href="mailto:iamjomani247@gmail.com">iamjomani247@gmail.com</a>
            </div>

            <div class="social-links">
                <button class="contact-btn">
                    <a href=""><i class="contact-icon fa-brands fa-facebook-f fa-lg"></i></a>
                </button>
                <button class="contact-btn">
                    <a href=""><i class="contact-icon fa-brands fa-instagram fa-lg"></i></a>
                </button>
                <button class="contact-btn">
                    <a href=""><i class="contact-icon fa-brands fa-twitter fa-lg"></i></a>
                </button>
                <button class="contact-btn">
                    <a href=""><i class="contact-icon fa-brands fa-linkedin-in fa-lg"></i></a>
                </button>
            </div>
        </div>
    </div>
    <div class="container copyright bleed">
        <p>&copy kognitivesEd 2022</p>
    </div>
</footer>