<nav id="nav">
    <div class="container nav-container">
        <a href="/" class="nav-brand"><h4>Kognitives</h4></a>
        <a href="/" class="nav-brand-monogram"><h4>Kog</h4></a>
        <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/courses">courses</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
        <button id="menu-btn" class=""><i class="fa fa-bars fa-lg"></i></button>
        <button id="close-btn"><i class="fa-solid fa-x fa-lg"></i></button>
    </div>
</nav>