<%- include('includes/head')  %>
<body>
    <%- include('includes/nav') %>
    <!-- -----------END OF NAVIGATION---------- -->
    <section class="about-achievements">
        <div class="container achievements-container">
            <div class="achievements-left">
                <img src="images/about achievements.svg" alt="">
            </div>
            <div class="achievements-right">
                <h1>Achievements <i class="fa-solid fa-trophy h1-icon"></i></h1>
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Officiis harum obcaecati eaque? Dignissimos nihil libero quas laudantium ullam 
                    itaque quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, vitae!
                </p>
                <div class="achievement-cards">
                    <article class="achievement-card">
                        <span class="achievement-icon">
                            <i class="fa-solid fa-video"></i>
                        </span>
                        <h3>350</h3>
                        <p>Courses</p>
                    </article>

                    <article class="achievement-card">
                        <span class="achievement-icon">
                            <i class="fa-solid fa-people-line"></i>
                        </span>
                        <h3>79,000+</h3>
                        <p>Students</p>
                    </article>

                    <article class="achievement-card">
                        <span class="achievement-icon">
                            <i class="fa-solid fa-medal"></i>
                        </span>
                        <h3>26</h3>
                        <p>Awards</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------------------TEAMS-------------------- -->
    <section class="team">
        <h2>Meet Our Team</h2>
        <div class="container team-container">
            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm1.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>James Early</h4>
                    <p>Java Instructor</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm2.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Avery sanley</h4>
                    <p>Java Instructor</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm3.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Shauna Early</h4>
                    <p>JavaScript Instructor</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm4.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Daniel Alewole</h4>
                    <p>Rust Instructor</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm5.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Maya Faik</h4>
                    <p>HTML/CSS Instructor</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm6.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Mage Ian</h4>
                    <p>Influencer</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm7.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Lesley Michael</h4>
                    <p>UI & UX design</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>

            <article class="team-member">
                <div class="profile-img">
                    <img src="images/tm8.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h4>Clover Rustiy</h4>
                    <p>Python</p>
                </div>
                <div class="team-member-social">
                    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>
        </div>
    </section>

    <!-- MODAL SECTION -->
        <div class="modal" id="modal-bg">
            <div class="modal-card">
                <i class="fa-solid fa-xmark fa-lg" id="close-modal"></i>
                <div class="modal-image">
                    <img src="images/newsletter.jpg" alt="" id="modal-img">
                </div>
                
                    <div class="modal-text">
                        <h2>WEEKLY NEWSLETTER</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                           Eaque, magnam rerum ea sed porro quod excepturi,
                           voluptas corporis possimus necessitatibus voluptatum? 
                           Fugit quo soluta magnam.</p>
    
                        <form action="/about" method="POST" id="modal-form">
                            <input type="email" name="email" id="email" placeholder="example@example.com">
                            <button type="submit" class="btn btn-primary">SignUp</button>
                        </form>   
                    </div>
                    
            </div>
        </div>
    <!-- MODAL SECTION ENDS -->

    <!-- ---------------FOOTER---------------- -->

    <%- include('includes/footer')  %>
   <!-- ---------------FOOTER ENDS---------------- -->

    <!-- -------------JS SCRIPTS------------ -->
    <script src="scripts/main.js"></script>
    <script>
    
    </script>
</body>
</html>