<%- include('includes/head')  %> 
<body>
    <%- include('includes/nav') %> 
    <!-- -----------END OF NAVIGATION---------- -->
    <header class="container hero-container">
        <div class="hero-text">
            <h1 class="title">Grow your Skills to advance your career path</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Autem magnam repellendus pariatur a quo dolor veritatis dolore, 
                provident itaque perspiciatis.
            </p>
            <a href="courses.html" class="btn btn-primary">Get Started</a>
        </div>
        <div class="hero-img-wrapper">
            <div class="hero-img">
                <img src="images/header.svg" alt="">
            </div>
        </div>
    </header>

<!-- -------------END OF HERO SECTION------------- -->
    <section class="categories">
        <div class="container categories-container">
            <div class="category-left">
                <h1>Categories</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium eaque in dolore laboriosam accusamus ab minima 
                    aspernatur dolorem optio similique fugit corrupti ad unde, rem perspiciatis et atque esse praesentium.
                </p>
                <a href="#" class="btn">Learn More</a>
            </div>
            <div class="category-right">
                <article class="category-card">
                    <span><i class="fa-brands fa-hive"></i></span>
                    <h4>Blockchain</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, corrupti!</p>
                </article>
    
                <article class="category-card">
                    <span><i class="fa-solid fa-palette"></i></span>
                    <h4>Graphics</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, corrupti!</p>
                </article>
    
                <article class="category-card">
                    <span><i class="fa-solid fa-coins"></i></span>
                    <h4>Finance</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, corrupti!</p>
                </article>
    
                <article class="category-card">
                    <span><i class="fa-solid fa-bullhorn"></i></span>
                    <h4>Marketing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, corrupti!</p>
                </article>
    
                <article class="category-card">
                    <span><i class="fa-solid fa-headphones"></i></span>
                    <h4>Music</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, corrupti!</p>
                </article>
    
                <article class="category-card">
                    <span><i class="fa-solid fa-business-time"></i></span>
                    <h4>Business</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, corrupti!</p>
                </article>
            </div>
        </div>
    </section>
    <!-- --------------END OF CATEGORIES-------------- -->

    <section class="courses">
        <h2>our popular courses</h2>
        <div class="container course-container">
            <article class="course">
                <div class="course-img">
                    <img src="images/course1.jpg" alt="">
                </div>
                <div class="course-info">
                    <h4>Responsive social media website an UI design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                     elit. Fugiat est velit error eaque dolorum placeat expedita?
                </p>
                <a href="courses.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course-img">
                    <img src="images/course2.jpg" alt="">
                </div>
                <div class="course-info">
                    <h4>Responsive SmartHome website</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                     elit. Fugiat est velit error eaque dolorum placeat expedita?
                </p>
                <a href="courses.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course-img">
                    <img src="images/course3.jpg" alt="">
                </div>
                <div class="course-info">
                    <h4>Responsive Admin Dashboard UI design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                     elit. Fugiat est velit error eaque dolorum placeat expedita?
                </p>
                <a href="courses.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>
    </section>

    <!-- ---------------END OF COURSE-------------- -->

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs-container">
            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="question-answer">
                    <h4>How do i know the right course for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit, perferendis, odit sit impedit cum omnis eius,
                        aliquid unde earum eveniet necessitatibus. Sapiente minus 
                        quibusdam laudantium exercitationem quae! Rem, atque provident.
                    </p>
                </div>
            </article>
        </div>
    </section>

    <!-- -------------------TESTIMONIALS----------------- -->
    <section class="container testimonials-container swiper mySwiper">
        <h2>TESTIMONIALS</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/avatar1.jpg" alt="">
                </div>
                <div class="testimonial-info">
                    <h5>Diana Ayi</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                        maiores exercitationem, delectus, voluptas laudantium error magni
                        amet accusantium voluptate id temporibus ab cum in itaque nostrum 
                        eum deserunt nisi consequuntur?
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/avatar2.jpg" alt="">
                </div>
                <div class="testimonial-info">
                    <h5>Jerome Gavin</h5>
                    <small>Web developer</small>
                </div>
                <div class="testimonial-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                        maiores exercitationem, delectus, voluptas laudantium error magni
                        amet accusantium voluptate id temporibus ab cum in itaque nostrum 
                        eum deserunt nisi consequuntur?
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/avatar3.jpg" alt="">
                </div>
                <div class="testimonial-info">
                    <h5>Merville Jenkins</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                        maiores exercitationem, delectus, voluptas laudantium error magni
                        amet accusantium voluptate id temporibus ab cum in itaque nostrum 
                        eum deserunt nisi consequuntur?
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/avatar4.jpg" alt="">
                </div>
                <div class="testimonial-info">
                    <h5>Haija Hakimi</h5>
                    <small>Nurse</small>
                </div>
                <div class="testimonial-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                        maiores exercitationem, delectus, voluptas laudantium error magni
                        amet accusantium voluptate id temporibus ab cum in itaque nostrum 
                        eum deserunt nisi consequuntur?
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/avatar5.jpg" alt="">
                </div>
                <div class="testimonial-info">
                    <h5>scarlet Johnson</h5>
                    <small>Teacher</small>
                </div>
                <div class="testimonial-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                        maiores exercitationem, delectus, voluptas laudantium error magni
                        amet accusantium voluptate id temporibus ab cum in itaque nostrum 
                        eum deserunt nisi consequuntur?
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/avatar6.jpg" alt="">
                </div>
                <div class="testimonial-info">
                    <h5>jolene Fords</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                        maiores exercitationem, delectus, voluptas laudantium error magni
                        amet accusantium voluptate id temporibus ab cum in itaque nostrum 
                        eum deserunt nisi consequuntur?
                    </p>
                </div>
            </article>
        </div>
        <div class="mt-5">
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- ---------------------TESTIMONIAL ENDS-------------------- -->

    <!-- ---------------FOOTER---------------- -->
    <%- include('includes/footer')  %> 
    <!-- ---------------FOOTER ENDS---------------- -->

    <!-- -------------JS SCRIPTS------------ -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="scripts/main.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 30,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          breakpoints:{
            600: {
                slidesPerView:2
            }
          }
        });
      </script>
</body>
</html>